<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .card-footer {
            cursor: pointer;
            background-color: transparent;
        }

        .card-footer:hover {
            background-color: #e9ecef;
            text-decoration: none;
            border: transparent;
        }

        .card {
            min-height: 100%;
        }

        .card-body {
            min-height: 150px;
        }
    </style>
</head>

<body>
<div class="container mt-5">
    <div>
        <h1 class="mb-4">전체 게시글</h1>

        <div class="d-flex justify-content-end mb-4">
            <a href="/posts/form" class="btn btn-primary">글쓰기</a>
        </div>
    </div>

    <div class="row g-3">
        <% posts.forEach(function(post) { %>
            <div class="col-md-4 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title fw-bold"><%= post.title %></h5>
                        <p class="card-text"><%= post.content.substring(0, 100) %>...</p>
                    </div>
                    <a href="/posts/<%= post.id %>" class="card-footer btn text-center">자세히 보기</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
